# Created by .ignore support plugin (hsz.mobi)
/.gradle/
/.idea/
/local.properties
local.properties
/build/
/classes/
out/
/coral-jvm/src/main/kotlin/org/tenkiv/coral/Test.kt
/coral-common/build/
/coral-jvm/build/
